@use '../util/' as *;

.cta {

    position: relative;

    &__images {
        display: grid;
        grid-template-columns: repeat(4, auto);
        place-items: center;
        gap: rem(10);
        margin-bottom: rem(48);
        padding: 0 rem(6);
        opacity: 0.6;
        animation-delay: 700ms;
        
        @include mq-max(s) {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            gap: rem(10) rem(30);
        }

        @include mq(md) {
            width: rem(536);
            justify-content: space-between;
            align-content: center;
            margin-bottom: 0;
            padding: 0;
            animation-delay: 1s;
        }

        @include mq(xl) {
        column-gap: rem(40);
        }
    }

    &__image {
        display: inline-block;
    }

    &__spotify {
        width: rem(56);

        @include mq-max(s) {
            margin-left: auto;
            width: rem(65);
        }

        @include mq(md) {
            width: rem(96);
        }
    }

    &__apple {
        width: rem(45);

        @include mq-max(s) {
            width: rem(54);
            margin-right: auto;
        }

        @include mq(md) {
            width: rem(78);
        }
    }

    &__google {
        width: rem(73);

        @include mq-max(s) {
            margin-left: auto;
            width: rem(80);
        }

        @include mq(md) {
            width: rem(125);
        }
    }

    &__pocket {
        width: rem(77);

        @include mq-max(s) {
            width: rem(80);
            margin-right: auto;
        }

        @include mq(md) {
            width: rem(129);
        }
    }
}