@use '../util/' as *;

.cta {

    position: relative;
    margin: 0 rem(24) rem(71);

    &__heading {
        margin-bottom: rem(16);
        color: var(--green-heading-button);
        font-size: rem(26);
        font-weight: var(--fw-light);
        line-height: rem(38);
        text-transform: uppercase;

        @include mq(md) {
            font-size: rem(48);
            line-height: rem(56);
            margin-bottom: rem(31);
        }

        @include mq(lg) {
            font-size: rem(52);
            line-height: rem(62);
            margin-bottom: rem(24);
            padding-right: rem(58);
        }
    }

    &__heading-span {
        color: var(--white-text);
        display: block;
    }

    &__description {
        line-height: rem(25);
        margin-bottom: rem(33);

        @include mq(md) {
            line-height: rem(28);
            padding-right: rem(190);
            margin-bottom: rem(40);
        }

        @include mq(lg) {
            padding-right: rem(278);
        }
    }

    &__arrangement {
         @include mq(md) {
            display: flex;
            flex-direction: column-reverse;
         }
    }

    @include mq-max(md) {
        max-width: rem(499.2);
    }

    @include mq(md) {
        background-color: var(--black-bg);
        margin: rem(102) rem(94) rem(236.5) rem(39);
        padding-top: rem(93);
        max-width: rem(831);
    }

    @include mq(lg) {
        margin: rem(1) rem(552) rem(130) rem(165);
        padding-top: rem(88);
        max-width: rem(723);
    }
}