@use '../util/' as *;

.cta {

    position: relative;
    padding: 0 rem(24) rem(71);

    &__heading {
        margin-bottom: rem(16);
        color: var(--green-heading-button);
        font-size: rem(26);
        font-weight: var(--fw-light);
        line-height: rem(38);
        text-transform: uppercase;

        @include mq(md) {
            font-size: rem(48);
            line-height: rem(56);
        }
    }

    &__heading-span {
        color: var(--white-text);
        display: block;
    }

    &__description {
        line-height: rem(25);
        margin-bottom: rem(33);

        @include mq(md) {
            line-height: rem(28);
        }
    }

    @include mq-max(md) {
        max-width: rem(499.2);
    }
}