@use '../util/' as *;

.header {
    position: relative;

    &__container {
        margin: rem(62) 0 rem(57);

        @include mq(md) {
            margin: rem(50) rem(594.15) rem(50) rem(39);
        }
    }

    @include mq(md) {
        width: 100%;
        max-width: rem(964);
    } 

    // @include mq(md) {
    //     align-self: flex-start;
    // }
}