.pod-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/assets/desktop/image-host.jpg");
    background-blend-mode: multiply;
    background-position: 58.5%;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black-bg);
        opacity: 0.92;
    }
}