@use '../util/' as *;

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-chivo);
    font-size: rem(15);
    font-weight: var(--fw-light);
    color: var(--light-gray-text);
    text-align: center;

    @include mq(md) {
        font-size: rem(18);
        text-align: left;
    }
}