@use '../util/' as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgba(#121725, 1);
    background-image: url("/assets/desktop/image-host.jpg");
    background-blend-mode: overlay;
    background-position: 58.5%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--ff-chivo);
    font-size: rem(15);
    font-weight: var(--fw-light);
    color: var(--light-gray-text);
    text-align: center;
}