:root {
    --green-heading-button: hsl(157, 74%, 62%);
    --green-button-hover: hsl(157, 100%, 85%);
    --light-gray-text: hsl(225, 40%, 83%);
    --dark-gray-input: hsl(225, 26%, 23%);
    --gray-logo: hsl(225, 21%, 45%);
    --black-bg: hsl(224, 35%, 11%);
    --white-text: hsl(0, 0%, 100%);
    --red-error: hsl(0, 96%, 61%);
}